@page "/"
@using Services
@using System.Threading.Tasks
@using ViewModels
@inject HomePageViewModel HomePageViewModel

<PageTitle>DeMarks</PageTitle>

<h1>Andrew DeMarco</h1>

@if (HomePageViewModel.IsLoading)
{
    <p>Loading...</p>
}
else
{
    <img src="@HomePageViewModel.APOD.HDurl" alt="@HomePageViewModel.APOD.Title" style="max-width: 100%; height: auto;" />
}

@code {
    protected override async Task OnInitializedAsync() 
    {
        await this.HomePageViewModel.LoadAsync();
    }
}


