@page "/"
@using Services
@using ViewModels

<PageTitle>DeMarks</PageTitle>

<h1>Andrew DeMarco</h1>

<img src="@HomePageViewModel.APOD.HDurl"/>

@code {
    [Inject]
    public INASAOpenAPIService NASAOpenAPIService { get; set; }

    private HomePageViewModel HomePageViewModel;

    protected override async Task OnInitializedAsync() 
    {
        this.HomePageViewModel = new HomePageViewModel(this.NASAOpenAPIService);
        await this.HomePageViewModel.LoadAsync();
    }

}


